.chips {
  width: 100%;
  margin: 1.25rem 0;
  display: grid;
  grid-template-columns: 10% 10% 10%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.chip {
  margin: 0.5rem 0;
}

.chip div {
  min-width: 100px;
  border-radius: 6px;
  font-weight: 900 !important;
}

.index-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.index-table {
  margin: 80px;
  border: 4px solid #5c84f3;
}

table {
  min-width: 0!important;
}

thead th {
  font-weight: 900 !important;
  font-size: 15px !important;
  text-align: center!important;
}

tr, th, td {
  border: 3px solid #5c84f3 !important;
}

.package-card {
  border: 3px solid #5c84f3 !important;
  border-radius: 40px;
}

.package-button button {
  background: linear-gradient(#5c84f3, #0f4bf1);
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.card-flag {
  width: 5rem;
}

.package-list-item {
  padding: 0.5rem 0 ;
  font-size: 0.75rem;
}
.package-list-item span {
  padding-right: 0.5rem;
}