@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif!important;
    font-optical-sizing: auto!important;
    line-height: 1  ;
}

:root {
    overflow-wrap: break-word;
    text-wrap: pretty;
    word-wrap: break-word;
    word-break: break-word;

    --light: #1e95fe;
    --dark: #3154c8
}

.heading {
    font-size: 3.5rem;
    text-align: center;
    margin: auto;
    font-weight: 800;
}
.para {
    font-size: 30px;
    text-align: center;
    margin: auto;
    font-weight: 350;
}
.heading, .para {
    margin: 10px 0;
}
.section-button {
    margin: 20px auto;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(var(--light), var(--dark));
    text-decoration: none !important;
    color: #fff;
    padding: 15px 35px;
    border-radius: 55px;
}
.card {
    margin: 20px 0;
    padding-bottom: 20px;
    width: 85%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    background: linear-gradient(var(--light), var(--dark));
    border-radius: 22px;
    color: #fff;
    box-shadow: #0a09099e 5px 3px 5px 3px;
}
.card img {
    width: 10%;
    height: 100%;
}
.card>div {
    padding: 5px;
}
.card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0px 20px;
}

nav {
    background: rgb(201 223 229);
}
nav .nav-button {
    color: var(--dark);
    border: 0px;
    width: 3rem;
    justify-content: center;
}
nav .nav-button:hover {
    color: var(--light);
}
nav li a {
    font-weight: 600;
    align-self: auto;
}
nav li a:hover {
    color: var(--dark);
    border-bottom: 3px dashed var(--light);
    font-weight: 600;
}
nav a.section-button {
    padding: 8px 25px;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    height: 2rem;
}